{% extends 'base.html.twig' %}

{% block title %}Création d'un produit - {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Création d'un produit.
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}

                        <button class="btn btn-primary btn-block" formnovalidate>Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
